# Multiple Linear Regression- Car dataset

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [2]:
dataset=pd.read_csv('CAR.csv')

In [4]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

In [7]:
dataset['fuel'].value_counts()

Diesel      2151
Petrol      2122
CNG           40
LPG           23
Electric       1
Name: fuel, dtype: int64

In [8]:
dataset['seller_type'].value_counts()

Individual          3242
Dealer               993
Trustmark Dealer     102
Name: seller_type, dtype: int64

In [9]:
dataset['transmission'].value_counts()

Manual       3889
Automatic     448
Name: transmission, dtype: int64

In [10]:
dataset['owner'].value_counts()

First Owner             2831
Second Owner            1104
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

### Split the dataset into independent and Dependent variables

In [13]:
X=dataset.drop('selling_price',axis=1)
y=dataset[['selling_price']]

### Work with the catagorical data

In [14]:
X.columns

Index(['year', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner'], dtype='object')

In [27]:
X=pd.get_dummies(dataset[['year',
                          'km_driven',
                          'fuel', 
                          'seller_type', 
                          'transmission',
                          'owner']],
                drop_first=True)

In [28]:
X.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_rest,y_train,y_rest=train_test_split(X,y,
                                              test_size=.2,
                                              random_state=20)

In [30]:
X_test,X_val,y_test,y_val=train_test_split(X_rest,y_rest,
                                          test_size=.5,
                                          random_state=20)

## Training the Multiple Linear Regression model on the Training set

In [31]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train.values,y_train)

LinearRegression()

## Intercept and Coefficient

In [32]:
print(f'The coefficients are: {regressor.coef_}')
print(f'The intercept is: {regressor.intercept_}')

The coefficients are: [[ 3.62245575e+04 -8.31584195e-01  2.88702246e+05  1.60071068e-10
   4.65464254e+04  2.64057958e+03 -6.04980455e+04  1.71882689e+05
  -8.64323880e+05 -3.50851884e+03 -4.04890692e+04  1.83178786e+05
  -2.83903020e+04]]
The intercept is: [-71683645.58006921]

In [33]:
X_train.columns

Index(['year', 'km_driven', 'fuel_Diesel', 'fuel_Electric', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Manual', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

### When we match the coefficients to the variables in order, we have the formula for predicting Selling Price based on these variables.
### The formula is: -71683645.6 + 3.6(Year) - 8.3(KM Driven) + 2.9(Fuel Diesel) + 1.6(Fuel Electric) - 4.7(Fuel LPG) - 2.6(Fuel Petrol) - 6.0(Seller:Individual) + 1.7(Seller:TrustmarkDealer) - 8.65(Transmission:Manual) - 3.5(Fourth&Above Owner) - 4.0(Second Owner) + 1.8(Test Drive Car) - 2.8(Third Owner)

## Validation Set

In [36]:
y_predval=regressor.predict(X_val.values)
y_validate=y_val.to_numpy()

In [39]:
np.hstack((y_predval,y_validate)).round()

array([[ 280944.,  350000.],
       [ 821100.,  780000.],
       [ 465916.,  434999.],
       [ 644135.,  425000.],
       [ 425422.,  280000.],
       [1317666.,  850000.],
       [ 163473.,  120000.],
       [ 357444.,  250000.],
       [ 465344.,  198000.],
       [ 182292.,  120000.],
       [ 432081.,  350000.],
       [ 464254.,  125000.],
       [ 146019.,  225000.],
       [ 236403.,  300000.],
       [ 582334.,  490000.],
       [1310282.,  750000.],
       [ 163473.,  175000.],
       [ 289260.,  164000.],
       [ 601309.,  525000.],
       [ 511497.,  550000.],
       [ 302981.,  229999.],
       [ 477193.,  350000.],
       [ 402091.,  270000.],
       [ 615704.,  250000.],
       [ -25484.,   75000.],
       [ 370909.,  220000.],
       [ 510765.,  550000.],
       [ 380528.,  160000.],
       [  37858.,   80000.],
       [1491394., 1750000.],
       [ 115149.,  210000.],
       [   4453.,   80000.],
       [ 288586.,  450000.],
       [ 629335.,  415000.],
       [ 487014.,  700000.],
       [ 731958.,  700000.],
       [ 112863.,  160000.],
       [ 482856.,  650000.],
       [ 500479.,  349000.],
       [ 491172.,  570000.],
       [1244411.,  450000.],
       [1697898., 3800000.],
       [ 424587.,  220000.],
       [1310956.,  900000.],
       [ 419232.,  350000.],
       [ 206418.,   45000.],
       [1598680., 2750000.],
       [-369440.,   85000.],
       [ 162651.,  200999.],
       [ 637791.,  400000.],
       [ 788511.,  650000.],
       [-126389.,  310000.],
       [ -87138.,  120000.],
       [ 610499.,  320000.],
       [ 449284.,  239000.],
       [  68637.,   80000.],
       [  91024.,   70000.],
       [ 115149.,  160000.],
       [-195812.,   35000.],
       [1338864.,  300000.],
       [ 563621.,  347000.],
       [  -7195.,   85000.],
       [ 285102.,  170000.],
       [ 764760., 1150000.],
       [ 542058.,  173000.],
       [ 363415.,  300000.],
       [ 543770.,  930000.],
       [ 497518.,  320000.],
       [ 649973.,  409999.],
       [ 649354.,  670000.],
       [1344685.,  600000.],
       [1575396., 2750000.],
       [ 243416.,  290000.],
       [ 727030.,  585000.],
       [ 489202.,  295000.],
       [ 417526.,  160000.],
       [ 265027.,   75000.],
       [ 731497., 1200000.],
       [ 296888.,  630000.],
       [ 800985.,  900000.],
       [ 425842.,  619000.],
       [ 785707.,  950000.],
       [ 397933.,  250000.],
       [ 402091.,  600000.],
       [ 748128.,  819999.],
       [1604136.,  675000.],
       [ 800985., 1900000.],
       [ 372986.,  370000.],
       [ 458431.,  625000.],
       [ 563621.,  520000.],
       [ 235100.,  350000.],
       [ 630197.,  325000.],
       [ 114376.,   75000.],
       [ 266415.,  235000.],
       [ 433952.,  180000.],
       [ 178193.,  180000.],
       [  37858.,   80000.],
       [ 464254.,  130000.],
       [ 348403.,  565000.],
       [ 760602.,  640000.],
       [  78925.,  150000.],
       [ 496214.,  450000.],
       [ 740335.,  525000.],
       [  62400.,  125000.],
       [ 625458.,  600000.],
       [ -70025.,  100000.],
       [ 497151.,  595000.],
       [ 396612.,  320000.],
       [ 433278.,  300000.],
       [ 294245.,  200000.],
       [  92687.,  233000.],
       [ 565568., 1000000.],
       [ 924189.,  225000.],
       [  27945.,   70000.],
       [ 124769.,  350000.],
       [ 512119., 1025000.],
       [1281850.,  450000.],
       [ 457029.,  320000.],
       [ 473660.,  409999.],
       [ 307597.,   70000.],
       [  37858.,   80000.],
       [ 525426.,  300000.],
       [  37447.,  550000.],
       [ 428030.,  160000.],
       [ 669858.,  900000.],
       [ 544331.,  260000.],
       [ -78341.,   79000.],
       [ 525893.,  350000.],
       [ 250958.,  125000.],
       [ 280837.,  300000.],
       [ 639612.,  421000.],
       [1659645., 2675000.],
       [  21237.,  190000.],
       [ 586744.,  390000.],
       [-178698.,   68000.],
       [ 456770.,  225000.],
       [ 118111.,  150000.],
       [  -6439.,   95000.],
       [ 564612.,  350000.],
       [1461733., 4000000.],
       [ 259274.,  300000.],
       [ 242781.,  275000.],
       [ -90921.,   90000.],
       [ 519081.,  810000.],
       [ 506977.,  310000.],
       [ 241393.,  330000.],
       [ 489202.,  449000.],
       [ 459560.,  396000.],
       [ 484016.,  225000.],
       [ 325535.,  525000.],
       [ 108137.,  114999.],
       [ 417526.,  300000.],
       [ 709044.,  750000.],
       [1375187.,  520000.],
       [ 472570.,  250000.],
       [ 642416.,  869999.],
       [ 574018.,  640000.],
       [ 255996.,  350000.],
       [ 507961.,  430999.],
       [ 333800.,  210000.],
       [ 683832.,  490000.],
       [ 622823.,  420000.],
       [ 260154.,  350000.],
       [-207089.,   85000.],
       [ 582334.,  350000.],
       [ 487014.,  434999.],
       [1453575., 1580000.],
       [ 650732., 1300000.],
       [  54025.,   80000.],
       [ 809300., 1400000.],
       [ 476204.,  475000.],
       [  42700.,   91200.],
       [ 461293.,  350000.],
       [ 424587.,  175000.],
       [ 521162.,  600000.],
       [  18575.,  190000.],
       [ 118867.,  165000.],
       [ 571980.,  400000.],
       [ 382858.,  250000.],
       [ 659048.,  500000.],
       [   6476.,  100000.],
       [ 293575.,  235000.],
       [ 220969.,  145000.],
       [ 483741.,  725000.],
       [  90202.,  254999.],
       [ 504144.,  670000.],
       [ 399574.,  390000.],
       [ 517110.,  349000.],
       [ 819911., 1150000.],
       [ -18472.,  160000.],
       [  30227.,  650000.],
       [ 212810.,  175000.],
       [ 722872.,  600000.],
       [ 242019.,   89999.],
       [ 643613.,  715000.],
       [ 501569.,  620000.],
       [ 813410.,   85000.],
       [ 674016.,  509999.],
       [ 624486.,  650000.],
       [ 764760.,  680000.],
       [ 489202.,  300000.],
       [ 866867.,  750000.],
       [1411021.,  525000.],
       [ 968399.,  700000.],
       [ 376264.,  350000.],
       [ 367851.,  696000.],
       [ 549175.,  890000.],
       [1491827., 1490000.],
       [1604136., 1400000.],
       [ 391805.,  400000.],
       [ 448713.,  312000.],
       [ 752444.,  880000.],
       [  74326.,  200000.],
       [ 568197.,  530000.],
       [ 466225.,  200000.],
       [ 402091.,  350000.],
       [ 498291.,  265000.],
       [-152093.,  125000.],
       [ 538990.,  300000.],
       [ 436229.,  400000.],
       [1325230.,  950000.],
       [ 356678.,  475000.],
       [ 433384.,  300000.],
       [1367387.,  550000.],
       [1375187.,  520000.],
       [ 764740.,  840000.],
       [ 395481.,  260000.],
       [ 607388.,  400000.],
       [ 642416.,  650000.],
       [ 489095.,  340000.],
       [ 683057.,  800000.],
       [ 568253.,  550000.],
       [ 734614.,  585000.],
       [1567912., 1200000.],
       [ 487172.,  525000.],
       [ 574018.,  350000.],
       [ 866867.,  750000.],
       [ 227314.,  100000.],
       [  53618.,   60000.],
       [ 388362.,  170000.],
       [ 533742.,  250999.],
       [ 155639.,  409999.],
       [ 473660.,  400000.],
       [ 810964.,  700000.],
       [ 655980.,  610000.],
       [ 561651.,  800000.],
       [ 639348.,  350000.],
       [ 195280.,  229999.],
       [ 618665., 1125000.],
       [ 683995.,  600000.],
       [ 450790.,  350000.],
       [ 528478.,  425000.],
       [ 465344.,  200000.],
       [ 662009.,  550000.],
       [ 242642.,  225000.],
       [ 514923.,  500000.],
       [ 519081.,  300000.],
       [1313037., 1350000.],
       [ 482856., 1200000.],
       [ 887543.,  770000.],
       [ 349235.,  600000.],
       [ 417526.,  210000.],
       [1644210., 1050000.],
       [ 678640.,  370000.],
       [ 428030.,  195000.],
       [ 276679.,  351000.],
       [1633242.,  950000.],
       [ 465446.,  509999.],
       [ 434158.,  350000.],
       [ 386541.,  220000.],
       [ 564668.,  565000.],
       [ 118111.,  300000.],
       [ 739812.,  850000.],
       [ 654783.,  890000.],
       [ 512846.,  600000.],
       [ -33800.,  250000.],
       [ 388108., 1030000.],
       [ 530234.,  250000.],
       [ 651821., 1800000.],
       [ 489202.,  550000.],
       [ 406363.,  575000.],
       [ 678640.,  750000.],
       [ 155392.,  370000.],
       [  55281.,  135000.],
       [ 218517.,  110000.],
       [ 396793.,  690000.],
       [ 405122.,  530000.],
       [ 402091.,  425000.],
       [ 312904.,  250000.],
       [ 393775.,  620000.],
       [ 419607.,  290000.],
       [1377559.,  350000.],
       [ 272319.,  180000.],
       [ 464254.,  225000.],
       [  80067.,  160000.],
       [ 296272.,  300000.],
       [ -51735.,   60000.],
       [ 462067.,  183000.],
       [ 146019.,  225000.],
       [ 586117.,  450000.],
       [ 435286.,  530000.],
       [ 501569.,  775000.],
       [ 655222.,  585000.],
       [ 556659.,  425000.],
       [ 650045.,  650000.],
       [ 294333.,   75000.],
       [ 730222., 1000000.],
       [ 115149.,   99000.],
       [  53977.,  114999.],
       [ 756444., 1250000.],
       [ 716062.,  925000.],
       [ 417526.,  150000.],
       [ 558690.,  320000.],
       [  34384.,  120000.],
       [ 325484.,  275000.],
       [ 486101.,  325000.],
       [ 260048.,  240000.],
       [ 360405.,  600000.],
       [ 726841., 1490000.],
       [ 711904.,  800000.],
       [ 824681., 1490000.],
       [ 478698.,  600000.],
       [ 273460.,  290000.],
       [ -62256.,  175000.],
       [1687919., 3899000.],
       [ 460928.,  300000.],
       [-182963.,   80000.],
       [ 870630., 1295000.],
       [ 145246.,  350000.],
       [  43456.,  110000.],
       [ 265509.,  210000.],
       [ 268004.,  155000.],
       [ 622823.,  950000.],
       [ 442940.,  550000.],
       [ 617468.,  525000.],
       [ 287939.,  100000.],
       [ 200179.,  250000.],
       [ 466225.,  275000.],
       [ 480886.,  500000.],
       [1375187.,  520000.],
       [ 147323.,   80000.],
       [  21536.,  120000.],
       [ 489144.,  550000.],
       [ 292221.,  500000.],
       [ 109795.,  147000.],
       [ 609518.,  450000.],
       [ 343000.,  150000.],
       [ 354950.,  440000.],
       [1479546., 2300000.],
       [ 657019.,  744000.],
       [ 523239.,  550000.],
       [ 733941.,  825000.],
       [ 558690.,  300000.],
       [ 657238.,  470000.],
       [ -74049.,   85000.],
       [ 529478.,  550000.],
       [1442880.,  735000.],
       [ 143058.,  250000.],
       [ 398771.,  470000.],
       [-120401.,   51111.],
       [ 107590.,  120000.],
       [ 600370.,  550000.],
       [ 392099.,  330000.],
       [ 108137.,  150000.],
       [  56635.,  125000.],
       [1775644., 2595000.],
       [ 216811.,  225000.],
       [ 810624.,  541000.],
       [ 581300.,  385000.],
       [ 127730.,  300000.],
       [ 240455.,  250000.],
       [ 311814.,  400000.],
       [1363138.,  635000.],
       [ 723181.,  500000.],
       [  29030.,  300000.],
       [ 367948.,  300000.],
       [ 158656.,  110000.],
       [ 648703.,  660000.],
       [ 341342.,  250000.],
       [ 470382.,  245000.],
       [1394964.,  600000.],
       [ 727113.,  675000.],
       [ 560454.,  800000.],
       [ 365867.,  850000.],
       [ 574840.,  185000.],
       [ 434591.,  320000.],
       [ 123465.,  130000.],
       [1360163., 1200000.],
       [ 327565.,  500000.],
       [ -87138.,  100000.],
       [ 423765.,  200000.],
       [ 469127.,  215000.],
       [ 751146.,  790000.],
       [ 226784.,  180000.],
       [ 472023.,  290000.],
       [ 752286.,  800000.],
       [ 625850.,  750000.],
       [ 699019.,  465000.],
       [ 210463.,  300000.],
       [ -13117.,   90000.],
       [-315762.,   42000.],
       [ 439307.,  375000.],
       [ 397933.,  300000.],
       [ 357551.,  300000.],
       [ 370158.,  350000.],
       [ 465344.,  220000.],
       [ 450016.,  400000.],
       [ 581609.,  305000.],
       [ 246377.,  250000.],
       [ 521162.,  495000.],
       [ 434317.,  250000.],
       [ 494133.,  875000.],
       [ 337646.,  270000.],
       [ 172270.,  250000.],
       [ 243210.,  300000.],
       [-118830.,  155000.],
       [ 821100.,  780000.],
       [ 305217.,  240000.],
       [1697898., 3800000.],
       [ 398508.,  150000.],
       [  63049.,  130000.],
       [ 613260.,  850000.],
       [ 275906.,  250000.],
       [ 686098.,  650000.],
       [ 448713.,  200000.],
       [  31680.,  175000.],
       [ 817774.,  750000.],
       [ 525426.,  390000.],
       [ 494450.,  250999.],
       [ 605710.,  240000.],
       [   6832.,   78000.],
       [ 446525.,  450000.],
       [ 172270.,  180000.],
       [ 619446.,  450000.]])

## Predicting the Test set results

In [40]:
y_pred=regressor.predict(X_test.values)

### Calculate RMSE, R-Square

In [46]:
from sklearn.metrics import mean_squared_error, r2_score
import math
print(f'Mean Squared Error (MSE): {mean_squared_error(y_pred,y_test):.2f}')
print(f'Root Mean Squared Error (RMSE): {math.sqrt(mean_squared_error(y_pred,y_test)):.2f}')
print(f"R-Squared: {r2_score(y_pred,y_test):.2f}")

Mean Squared Error (MSE): 154171100550.96
Root Mean Squared Error (RMSE): 392646.28
R-Squared: -0.05

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [47]:
X_test.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
2549,2018,26000,1,0,0,0,0,0,1,0,0,0,0
3500,2002,40000,0,0,0,1,1,0,1,1,0,0,0
1137,2013,71000,0,0,0,0,1,0,1,0,1,0,0
761,2019,8000,0,0,0,1,1,0,1,0,0,0,0
2516,2008,50000,0,0,0,1,1,0,1,0,0,0,0

In [49]:
regressor.predict([[2014,70000,1,0,0,0,0,0,1,0,0,0,0]])

array([[638780.60333154]])

### The predicted price of the described car is 638,780.60 dollars. The actual price of a car with these features in the dataset is 465,000 dollars.
#### This model is not very accurate - MSE and RMSE are very high which indicated there is a lot of error between the predicted values and actual values. Additionally, the R2 score is very low, meaning only about 5% of the data is behaving as this regression equation predicts.